.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* style.css */

#sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  padding-left: 250px;
}

.card {
  border: none;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-footer {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.container-fluid h1 {
  font-size: 2rem;
  font-weight: bold;
}

/* style.css */

html, body {
  height: 100%;
  margin: 0;
  display: flex;
}

#sidebar-wrapper {
  width: 250px;
  min-height: 100vh;
  background-color: #00264d; /* Azul oscuro */
}

#page-content-wrapper {
  width: 100%;
  padding-left: 250px;
}

.list-group-item {
  background-color: #00264d; /* Mismo azul oscuro */
  color: white;
}

.list-group-item:hover {
  background-color: #004080; /* Un azul ligeramente más claro cuando pases el ratón */
}

.list-group-item i {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

#sidebar-wrapper {
  width: 250px; /* Cambia el valor aquí para hacerlo más ancho */
  background-color: #343a40;
  color: white;
  position: fixed;
  height: 100%;
  padding-top: 20px;
}

#page-content-wrapper {
  margin-left: 250px; /* Ajusta el margen izquierdo según el ancho del sidebar */
  padding: 20px;
}

.custom-modal {
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.custom-overlay {
  background-color: white;
}
