/* Importar fuente Quicksand desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* Fondo de la pantalla con gradiente */
.login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #4392F1, #a1c4fd);
    animation: gradientBG 5s ease infinite;
}

@keyframes gradientBG {
    0% { background: linear-gradient(135deg, #4392F1, #a1c4fd); }
    50% { background: linear-gradient(135deg, #6DD5FA, #4392F1); }
    100% { background: linear-gradient(135deg, #4392F1, #a1c4fd); }
}

/* Contenedor del cuadro de login */
.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilos de los campos de entrada */
.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.5rem;
}

/* Estilo de las etiquetas de Email y Password */
.label-email-password {
    font-weight: bold; /* Negrita */
    color: #007bff; /* Azul */
    font-family: 'Quicksand', sans-serif; /* Cambia la fuente */
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 0.9rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

/* Estilo del botón de Login */
.login-button {
    background-color: #4392F1;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #6DD5FA;
}

/* Título del cuadro */
.login-title {
    color: #007bff; /* Azul */
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold; /* Negrita */
    font-family: 'Quicksand', sans-serif; /* Cambia la fuente */
}

/* Subtítulo de Login */
.login-subtitle {
    color: #007bff; /* Azul */
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold; /* Negrita */
    font-family: 'Quicksand', sans-serif; /* Cambia la fuente */
}

/* Sombra suave para darle profundidad al cuadro */
.login-container {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


